{% extends '::templateAll.html.twig' %}

{% block stylessheetsextra %}
    <link href="{{asset('bundles/autenticacao/css/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block container %}
    <div class='col-lg-9'>
        {#{{ form(form) }}#}
        {{form_start(edit_form, { 'attr': {'class':'form-horizontal well'} })}}
        <fieldset>
            <legend>Editar Solicitação</legend>
            <div class="col-lg-12">
                <label class="control-label" for="input01">Indique a quantidade <u>em litros</u> de cada tipo de lixo que voce possui: </label>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Papel: </label>
                <div class="controls">
                    {{form_widget(edit_form.papel)}}
                    {{form_errors(edit_form.papel)}}
                </div>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Metal: </label>
                <div class="controls">
                    {{form_widget(edit_form.metal)}}
                    {{form_errors(edit_form.metal)}}
                </div>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Eletronico: </label>
                <div class="controls">
                    {{form_widget(edit_form.eletronico)}}
                    {{form_errors(edit_form.eletronico)}}
                </div>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Vidro: </label>
                <div class="controls">
                    {{form_widget(edit_form.vidro)}}
                    {{form_errors(edit_form.vidro)}}
                </div>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Plastico: </label>
                <div class="controls">
                    {{form_widget(edit_form.plastico)}}
                    {{form_errors(edit_form.plastico)}}
                </div>
            </div>
            <div class="col-lg-2">
                <label class="control-label" for="input01">Outros: </label>
                <div class="controls">
                    {{form_widget(edit_form.outros)}}
                    {{form_errors(edit_form.outros)}}
                </div>
            </div>
            <div class="col-lg-6">
                <label class="control-label" for="input01">Observacoes: </label>
                <div class="controls">
                    {{form_widget(edit_form.observacoes)}}
                    {{form_errors(edit_form.observacoes)}}
                </div>
            </div>
            <div class="col-lg-6">
                <label class="control-label" for="input01">Disponibilidade: </label>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="input01">Dias: </label>
                <div class="controls">
                    <div class="input-group date" >
                        <input class="form-control" required="requierd" name="disp1" type="text" value="{{entity.disponibilidade1.dia | date('d/m/Y')}}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    <div class="input-group date">
                        <input class="form-control" required="required" name="disp2"  type="text" value="{{entity.disponibilidade2.dia | date('d/m/Y')}}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    {% if entity.disponibilidade3 %}
                        <div class="input-group date">
                            <input class="form-control" name="disp3"  type="text" value="{{entity.disponibilidade3.dia | date('d/m/Y')}}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    {% else %}
                        <div class="input-group date">
                            <input class="form-control" name="disp3"  type="text">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="input01">Turno: </label>
                <div class="controls">
                    <select id="turno1" name="turno1" class="form-control input-xlarge" required="required">
                        {% if entity.disponibilidade1.turno=="Manhã" %}
                            <option></option><option value="Manhã" selected="true">Manhã</option><option value="Tarde">Tarde</option><option value="Noite">Noite</option>
                        {% elseif entity.disponibilidade1.turno=="Tarde" %}
                            <option></option><option value="Manhã">Manhã</option><option value="Tarde" selected="true">Tarde</option><option value="Noite">Noite</option>
                        {% elseif entity.disponibilidade1.turno=="Noite" %}
                            <option></option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option><option value="Noite" selected="true">Noite</option>
                        {% endif %}
                    </select>
                    <select id="turno2" name="turno2" class="form-control input-xlarge" placeholder="{{entity.disponibilidade2.turno}}" required="required">
                        {% if entity.disponibilidade2.turno=="Manhã" %}
                            <option></option><option value="Manhã" selected="true">Manhã</option><option value="Tarde">Tarde</option><option value="Noite">Noite</option>
                        {% elseif entity.disponibilidade2.turno=="Tarde" %}
                            <option></option><option value="Manhã">Manhã</option><option value="Tarde" selected="true">Tarde</option><option value="Noite">Noite</option>
                        {% elseif entity.disponibilidade2.turno=="Noite" %}
                            <option></option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option><option value="Noite" selected="true">Noite</option>
                        {% endif %}
                    </select>

                    {% if entity.disponibilidade3 %}
                        <select id="turno3" name="turno3" class="form-control input-xlarge" placeholder="{{entity.disponibilidade3.turno}}">
                            {% if entity.disponibilidade3.turno=="Manhã" %}
                                <option></option><option value="Manhã" selected="true">Manhã</option><option value="Tarde">Tarde</option><option value="Noite">Noite</option>
                            {% elseif entity.disponibilidade3.turno=="Tarde" %}
                                <option></option><option value="Manhã">Manhã</option><option value="Tarde" selected="true">Tarde</option><option value="Noite">Noite</option>
                            {% elseif entity.disponibilidade3.turno=="Noite" %}
                                <option></option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option><option value="Noite" selected="true">Noite</option>
                            {% endif %}
                        </select>
                    {% else %}
                        <select id="turno3" name="turno3" class="form-control input-xlarge" >
                            <option></option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option><option value="Noite">Noite</option>
                        </select>
                    {% endif %}
                </div>
            </div>
            <hr/>
            <div class="col-lg-12">
                <br/>
                <div class="form-actions">
                    {{ form_widget(edit_form.submit, { 'attr' : {'class': 'btn btn-primary'}, 'label': 'Salvar' }) }}
                    <a href="{{path('solicitacao')}}" class="btn btn-warning">Cancelar</a>
                </div>
            </div>
        </fieldset>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

{% block scriptsextra %}
    <script src="{{asset('bundles/autenticacao/js/bootstrap-datepicker.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".date").datepicker({
            daysOfWeekDisabled: [0, 6],
            autoclose: true,
            startDate: '+0d',
            endDate: '+15d',
            language: "pt-BR",
            format: 'dd/mm/yyyy',
        });
        $('.date').on('keypress', function () {
            return false;
        });

        function SomenteNumero(e) {
            var tecla = (window.event) ? event.keyCode : e.which;
            if ((tecla > 47 && tecla < 58))
                return true;
            else {
                if (tecla == 8 || tecla == 0)
                    return true;
                else
                    return false;
            }
        }
    </script>
{%endblock%}