<!DOCTYPE html>
<html lang="br">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Lixo que não é Lixo</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% block stylesheets %}
            <link href="{{asset('bundles/autenticacao/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('bundles/autenticacao/css/styles.css')}}" rel="stylesheet" type="text/css">
            {% block stylessheetsextra %}
            {%endblock%}
        {% endblock %}
    </head>



    <body>

        {% block barraNavegacao %}
            <!-- Barra de Navegação -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{path('login')}}">LQNL</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-default">
                        <ul class="nav navbar-nav">          
                            <li><a href="#">Informações</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {#                                <label class="lead">          #}
                                <a href="{{ path('usuarios_show', { 'id': usuario.id }) }}">{{usuario.nome}}</a>
                                {#                                </label>#}
                            </li>
                            {#<li>
                                <a>{{data|date('d/M') }}</a>
                            </li>#}
                            <li>

                                <a href="{{path('logout')}}">Sair</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </nav><!-- /.navbar-collapse -->
        {% endblock %}




        <div class="container">
            <br/><br/><br/><br />
            <div class="col-lg-12">
                {#                <br/><br/><br/><br/>#}
            </div>
            {% block menu %}
                <div class="col-md-3">
                    <p class="lead">Menu</p>
                    <div class="list-group">
                        <a class="list-group-item" href="{{path('home')}}">Início</a>
                        <a href="{{ path('usuarios_show', { 'id': usuario.id }) }}" class="list-group-item">Meu Perfil</a>
                        <a href="{{ path('solicitacao_new', { 'id': usuario.id }) }}" class="list-group-item">Gerar Solicitacao</a>
                        <a href="{{ path('solicitacao')}}" class="list-group-item">Solicitacões</a>
                    </div>
                </div>
            {% endblock %}

            {% block container %}
            {% endblock %}
        </div>




        {% block rodape %}
            <!-- /.container -->

            <div class="container">

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>ICEA &copy; LQNL 2015</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container -->
        {% endblock %}


        {% block javascripts %}
            <!-- script references -->
            <script src="{{asset('bundles/autenticacao/js/jquery.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/autenticacao/js/bootstrap.min.js')}}" type="text/javascript"></script>

            {% block scriptsextra %}
            {%endblock%}
        {% endblock %}
    </body>


</html>