{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Catador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Nascimento</th>
                <td>{{ entity.nascimento|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('catadores') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('catadores_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
